// colors
$primaryColor: #79a227;
$secondaryColor: #2c3e50;

.category {
  border-radius: 8px;
  color: #fff;
  padding: 8px;
  background-color: $primaryColor;
  font-weight: bold;
  font-size: 12px;
}
